* {
	margin: 0;
}

body {
	background-color: hsl(204, 43%, 93%);
	font-size: 16px;
	font-family: 'Karla', sans-serif;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	line-height: 1.5;
}

h1,
h2 {
	font-size: 1.4rem;
	line-height: 1.25;
	margin-bottom: 1rem;
}

p {
	margin-bottom: 0.75rem;
}

p:last-child {
	margin-bottom: 0;
}

.container {
	max-width: 400px;
	margin: 0.75rem;
}

.box {
	color: #fff;
	padding: 1.5rem;
}

.intro {
	background-color: white;
	color: hsl(218, 22%, 67%);
	border-radius: 10px 10px 0 0;
}

.main-heading {
	color: hsl(179, 62%, 43%);
}

.sub-heading {
	color: hsl(71, 73%, 54%);
	font-weight: 700;
}

.subscription {
	background-color: hsl(179, 62%, 43%);
	color: hsl(204, 43%, 93%);
}

.about-us {
	background-color: hsl(179, 56%, 52%);
	color: hsl(204, 43%, 93%);
	border-radius: 0 0 10px 10px;
}

.price {
	display: flex;
	align-items: center;
}

.emphasis {
	font-size: 2.25rem;
	font-weight: 700;
	margin-right: 0.5rem;
}

.opaque {
	opacity: 0.8;
}

.btn {
	display: block;
	background-color: hsl(71, 73%, 54%);
	color: white;
	border: none;
	font-weight: 700;
	border-radius: 10px;
	text-decoration: none;
	text-align: center;
	padding: 1rem 2rem;
	/* box-shadow: 0 0 20px hsl(214, 13%, 56%); */
}

@media (min-width: 576px) {
	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		max-width: 650px;
		margin: 0.75rem;
	}
	.intro {
		grid-column-start: 1;
		grid-column-end: -1;
	}
	.subscription {
		border-radius: 0 0 0 10px;
	}
	.about-us {
		border-radius: 0 0 10px 0;
	}
}
