body {
	background-color: hsl(204, 43%, 93%);
	font-size: 16px;
	font-family: 'Karla', sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 300px;
	margin: auto;
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

.box {
	padding: 1rem;
}

.intro {
	background-color: white;
	color: hsl(218, 22%, 67%);
}

.intro h1 {
	color: hsl(179, 62%, 43%);
	font-size: 1.28rem;
}

.subscription {
	background-color: hsl(179, 62%, 43%);
	color: hsl(204, 43%, 93%);
}

.subscription h2 {
	font-size: 1.28rem;
}

.aboutUs {
	background-color: hsl(179, 56%, 52%);
	color: hsl(204, 43%, 93%);
}

.aboutUs h2 {
	font-size: 1.28rem;
}

.rounded-top {
	border-radius: 10px 10px 0 0;
}

.rounded-bottom {
	border-radius: 0 0 10px 10px;
}

#sub-heading {
	color: hsl(71, 73%, 54%);
}

#emphasis {
	font-size: 2.25rem;
	padding-right: 5px;
}

#signUp {
	background-color: hsl(71, 73%, 54%);
	color: white;
	border: none;
	font-weight: bold;
	font-size: 16px;
	border-radius: 10px;
	padding: 14px 40px;
	width: 100%;
}
